body {
    background-color: #0c584f;
}

#wrapper {
    background-color: #f3f1e9;
    max-width: 980px;
}

.logo {
    width: 15%;
}

h1,
h2,
h3 {
    font-family: 'Oleo Script', cursive;

}

p,
li,
button {
    font-family: 'Merriweather', serif;
}
