html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #0c584f;
    line-height: 1.5;
}

#wrapper {
    background-color: #f3f1e9;
    max-width: 980px;
    margin: auto;
}

.logo {
    padding-top: 0.5em;
    width: 25%;
}

.leftHeader
h1 {
    margin-top: 0;
}

/*nav
ul
li {
    list-style: none;
    display: inline-block;
    padding: 0.5em;
}

nav
ul {
    padding-left: 23%;
    padding-right: 23%;
}

nav
li
a {
    color: #c68a22;
    text-decoration: none;
    font-size: 1em;
    padding: 1em;
    font-family: 'Cinzel Decorative', cursive;
    border-top: 1px solid #3e3231;
    background-color: #f3f1e9;
    width: 100%;
}*/

#menu {
    margin: 0 auto;
    padding: 0;
}

#menu ul {
    margin: 0;
    padding: 20px 0 0 0;
    list-style: none;
}

#menu a {
    display: block;
    line-height: 70px;
    margin-right: 1px;
    padding: 0 20px 0 20px;
    text-decoration: none;
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 1.5em;
    color: #c68a22;
}

#menu a:hover,
#menu .currentPage a {
    background-color: #f3f1e9;
}

h1 {
    font-size: 2em;
}

h1,
h2,
h3 {
    font-family: 'Cinzel Decorative', cursive;

}

p,
li {
    font-family: 'Merriweather', serif;
}

.banner {
    background-image: url("../img/hp_banner.jpg");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 350px;
    display: block;
}

.bannerCTA h1 {
    padding: 3em 1.5em 0 1.5em;
}

article {
    text-align: center;
    padding: 1em;
}

.bestInn
img {
    width: 40%;
}

button {
    background-color: #c68a22;
    padding: 0.5em;
    border-radius: 8px;
}

button,
a {
    color: #f3f1e9;
    text-decoration: none;
    font-family: 'Merriweather', serif;
}

.upcomingEvents
img {
    width: 80%;
}

.upcomingEvents
h3 {
    margin-top: 0.2em;
    margin-bottom: 0;
}

.upcomingEvents
li {
    margin-bottom: 0.5em;
}

.leftHeader,
.rightHeader,
footer,
.banner {
    color: #f3f1e9;
    text-align: center;
}

.rightFooter img,
.rightHeader img {
    width: 10%;
}

/* Styling for Menu Page */

.menuBanner {
    background-image: url("../img/menuBanner.jpg");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 350px;
    display: block;
    color: #f3f1e9;
}

.menuBannerCTA
h1 {
    padding: 3em 1.5em 0 1.5em;
}

.apps {
    background-image: url("../img/apps.jpg");
}

.drinks {
    background-image: url("../img/drinks.jpg");
}

.entrees {
    background-image: url("../img/entrees.jpg");
}

.desserts {
    background-image: url("../img/desserts.jpg");
}

.apps,
.drinks,
.entrees,
.desserts {
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Reservations Page Styling */

.reserveBanner {
    background-image: url("../img/inn.jpg");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 350px;
    display: block;
    color: #f3f1e9;
}

.reserveBannerCTA
h1 {
    padding: 3em 1.5em 0 1.5em;
}

/* Contact Page Styling */

.contactBanner {
    background-image: url("../img/beerTap.jpg");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 350px;
    display: block;
    color: #f3f1e9;
}

.contactBannerCTA
h1 {
    padding: 3em 1.5em 0 1.5em;
}
