body {
    background-color: #0c584f;
}

#wrapper {
    background-color: #f3f1e9;
    max-width: 980px;
    margin: auto;
}

.logo {
    width: 15%;
}

h1,
h2,
h3 {
    font-family: 'Oleo Script', cursive;

}

p,
li,
button {
    font-family: 'Merriweather', serif;
}

header,
footer,
.banner {
    color: #f3f1e9;
}

.banner {
    width: 100%;
    height: auto;
}

.rightFooter img,
.rightHeader img {
    width: 5%;
}
